body {
  font-family: Roboto, sans-serif;
}

h1 {
  text-align: center;
}

/* remove chrome blue border when focus */
*:focus {
  outline: none;
}

.header {
  display: flex;
  flex-direction: row;
}

.actions {
  margin-left: 20px;
}

#image-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.btn {
  padding: 10px 20px;
  background-color: #3f51b5;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn.btn-upload {
  background-color: #090;
}

.btn.btn-inverted {
  border: 1px solid #3f51b5;
  background-color: #fff;
  color: #3f51b5;
}

#download-button {
  /* this button will be hidden until some image is loaded */
  display: none;
}

.preview-wrapper {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.message-wrapper {
  /* the message will be shown after an image is loaded */
  display: none;
  clear: both;
  margin-top: 30px;
}

.message-wrapper textarea {
  border: 1px solid #ddd;
  width: 50%;
  height: 50px;
  font-size: 16px;
}

.message-action {
  margin-top: 20px;
}
